# langchain
# pinecone-client
# langchain_pinecone
# openai
# faiss-gpu==1.7.2
# langchain-community
# langchain-openai

speech_recognition
pymupdf
sentence-transformers
pypdf
ctransformers
python-dotenv
streamlit
